<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>

<body>
    <p id="message"></p>
    <script>
        document.getElementById("message").innerHTML = "数据获取中...";

        // 接收WebView传来的数据
        (function() {
            window.document.addEventListener("message", function (e) {
                document.getElementById("message").innerHTML = e.data;
                // 发送数据到WebView
                (function(params) {
                    if (window.postMessage !== undefined) {
                        window.postMessage(params);
                    }
                }("数据已接收"));
            });
        }());
    </script>
</body>
</html>
